{% extends 'blog/basic.html' %}
{% block title %}Shoping Cart Blog{% endblock %}
{% block body %}
<div class="container">


  <div class="jumbotron p-4 p-md-5 mt-3 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Shoping Cart Blog Post</h1>
      <p class="lead my-3">Website where you can Sell & Purchase goods online.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
<div class="row my-2">
{% for item in myposts %}

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <a href="blogpost/{{item.post_id}}"><strong class="d-inline-block mb-2 text-primary">{{item.title}}
          </strong></a>
          <h3 class="mb-0">{{item.subtitle}}</h3>
          <div class="mb-1 text-muted">{{item.pub_date}}</div>
          <p class="card-text mb-auto">{{item.desc}}</p>
          <a href="blogpost/{{item.post_id}}"" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
        </div>
      </div>
    </div>
    
    {% if forloop.counter|divisibleby:2 %}
  </div><div class="row my-2">
  {%  endif %}

  {%  endfor %}
</div>

{% endblock %}